<header>
  <img src='reliable1/src/assets/group.jpg' class="bg-img">
  <div class="main-sty">
      <div class="container">
          <div class="row w-100 p-3">
              <div class="col-3">
                  <img src="reliable1/src/assets/logo.png" class="img-fluid ftr-img">
              </div>
              <div class="col-9 pt-4 pb-4 text-center">
                  <div class="row">
                      <div class="col-6">
                          <div class="row">
                              <div class="col-md-6 p-2">
                                  <a href="#">
                                      <h2>AboutUs</h2>
                                  </a>
                                  <div class="bar mb-md-5"></div>
                              </div>
                              <div class="col-md-6 p-2">
                                  <a href="#">
                                      <h2>Categories</h2>
                                  </a>
                                  <div class="bar mb-md-5"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="row">
                              <div class="col-md-6 p-2 pl-3">
                                  <input type="text" class="int-sty p-2" placeholder="Search . . . ">

                              </div>
                              <div class="col-md-6 p-2">
                                  <button class="btn btn-sty p-2"><b>Join us</b></button>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="pt-5 pl-3">
              <b>
                  <h1>ENTREPRENEURSHIP</h1>
                  <h1>ROCKS!</h1>
              </b>

          </div>
      </div>

  </div>
</header>
<section class="container">
  <h1 class="sub-txt">
      Stories
  </h1>
  <div class="bar1 mb-5"></div>
  <div id="carouselExampleControls" class="carousel slide car-sty" data-ride="carousel">
      <div class="carousel-inner container">
          <div class="carousel-item active">
              <div class="card-deck">
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p1.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p2.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional
                              content.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p3.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This card has even longer content than the first to show that equal
                              height action.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="card-deck">
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p2.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p1.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional
                              content.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p3.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This card has even longer content than the first to show that equal
                              height action.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="card-deck">
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p3.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p1.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional
                              content.</p>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top img-fluid" src="reliable1/src/assets/p2.jpg" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This card has even longer content than the first to show that equal
                              height action.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon pre-sty" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon nxt-sty" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <div class="text-center mt-5 mb-5 sub-txt1">
      <p><i>"Tough times never lost,But Tough people do"</i></p>
  </div>
</section>
<footer class="ftr-sty mt-3 p-2">
  <div class="row w-100 ftr1-sty">
      <div class="col-md-4 p-3 d-flex justify-content-center align-content-center">
          <img src="reliable1/src/assets/logo.png" class="img-fluid ftr-img">
      </div>
      <div class="col-md-4">
          <p class="pt-1 pl-2 text-center text-md-left "><a class="txt-sty">About us</a></p>
          <p class="pt-2 pl-2 text-center text-md-left"><a class="txt-sty">Join us</a></p>
      </div>
      <div class="col-md-4 text-center text-md-right ftr-txt">
          <p>Please contact us at,
              Joinus@evevowa.in
          </p>
      </div>
  </div>
  <div class="text-center mt-5 pb-2 ftr-txt">
      <i>COPYRIGHTS @CODEON TECHNOLOGIES</i>
  </div>
</footer>